.manipulation {
  h2 {
    text-transform: uppercase;
    font-size: 16px;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

.link {
  border: 1px solid #ACC7F4;
  border-radius: 30px;
  padding: 15px 30px;
  color: #ACC7F4;
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;

  &:hover {
    border-color: #5e96ff;
    color: #5e96ff;
  }
}
